.zoneinfo{
  width: 300px;
  height: 600px;
}

.instructions{
  width: 600px;
  height: 600px;
  background-color: violet;
}

h1{
  margin-top: 100px;
  color: blue;
}

p{
  margin-top: 10px;
  color: tomato;

}
